body{
background-color:pink;
}

.container{
    align-items: center;
    text-align: center;
}

h1{
    align-items: center;
    text-align: center;
    color:darkgreen;
    border-radius: 5em;
    width: fit-content;
    padding:10px;
    margin:0 auto;
    margin-bottom: .5em;
}

.date{
    margin-top: 2em;
}

#date{
    align-items: center;
    color:darkgreen;
   background-color: rgb(254, 232, 232);   
       border: 1px solid black;
    color: black;
    width: auto;
    padding: .7em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15 em;
    border-style: solid;
    cursor: pointer; 



}


#input{
 margin-top: .5em;
 border-radius: 2em;
 border: solid black;
 text-align: left;
 margin-right: 140px;
  background-color: rgb(254, 232, 232);   
 cursor:text; 
 font-family: 'Times New Roman', Times, serif;
 font-size: 1em;
  width: 1060px;
  height: 200px;
  padding: 10px 12px; /* small padding so text starts left */



}


#entry{
    align-items:left;
    text-align: left;
}

#title{
    padding:10px 12px;
    width:300px;
    margin-left: 140px;
    border-radius: 2em;
    border: solid black;
       background-color: rgb(254, 232, 232);   
    cursor:text; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 1 em;

}
h3{
   color:darkgreen;
    width:fit-content;
    margin-left: 140px;
    border-radius: 2em;
    padding:10px;
     border-color: black;
    }

#inputentry{
   color:darkgreen;
    width:fit-content;
    margin-left: 140px;
    border-radius: 2em;
    padding:10px;
    border-color: black;

}

    #button{
        margin-top: 2em;   
        padding: .7em; 
        width:6em;
    background-color: rgb(254, 232, 232);         
        color: darkgreen;;
        border: 2px solid black;
        cursor: pointer;  
    }


